<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>SHOPKHANH</title>
<link rel="stylesheet" type="text/css" href="./css/content.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>
<body>
	<div class="content-index">	
		<h1>WELCOME TO SHOPKHANH</h1>
	</div>
	<!--  <div th:each="p:${prod}" class="noidungUser">
		<h1 th:utext="${p.name}"></h1>
		<h1 th:utext="${p.image}"></h1>
		<h1 th:utext="${p.price}"></h1>
	</div>-->
</body>
</html>